.header{
    background-color: rgb(80, 151, 198);
  }
  .parking-slot {
    width: 100px;
    height: 60px;
    background-color: #ccc;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 14px;
    float: left;
}
.parking-slot {
  background-color: rgb(26, 255, 0); /* Change the background color to red */
  color: black; /* Change the text color to black */
  /* Add any other styles you need, such as padding or borders */
}
.booking-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.booking-item{
background-color: #bdc0bb;
border-style: solid;
}
h1 {
  text-align: center;
}


#logout{
  position: absolute;
  top: 70px;
  right: 16px;
  font-size: 18px;
}
h2#typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
}

@keyframes typing {
  0% {
      width: 0;
  }
  50% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #000;
  }
}